<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<title>{{title}}</title>
	{{> head}}
</head>
<body class='theme_a'>
	
	<main class='tmp_welcome'>

		{{{body}}}
	
	</main>
	{{> footer}}
</body>
</html>
