<div class="typeface" id="advent">
	<div class="details">
		<form class="controls">
			<div class="efo-container container">
				<label class="label efo_source" for="efo_title" data-efo="{{source_efo_dir}}">{{source_efo}}:</label>
				
				<div class="thread-control">
					
					<div class="btn thread_active">
						Save Changes
					</div>
					<div class="btn thread_abort hide warning">
						Abort
					</div>

				</div>
			</div>
			<div class="rangeslider-container container">
				<div class="rangeslider-wrap">
					<label class="label" for="advent-wght">Weight:</label>
					<input type="range" 
						   class="range_slider" 
						   name="wght"
						   data-typeface="advent" 
						   id="advent-wght" 
						   min="100" 
						   max="700" 
						   step="0.1" 
						   labels="100, 200, 300, 400, 500, 600, 700">
				</div>
			</div>
			<div class="rangeslider-container container">
				<div class="rangeslider-wrap">
					<label class="label" for="advent-ital">Italic:</label>
					<input type="range" 
						   class="range_slider" 
						   name="ital"
						   data-typeface="advent" 
						   id="advent-ital" 
						   min="0" 
						   max="1" 
						   step="0.01" 
						   labels="0, 1">
				</div>
			</div>
			<div class="guides-container container">
				<div class="sub_cont">
					<label class="label" for="onoffswitch" title="Show / Hide Kerning Guides">Guides:</label>
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoff_guides" checked>
						<label class="onoffswitch-label" for="onoff_guides">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
				<div class="sub_cont">
					<label class="label" for="onoffswitch" title="Kern Whole Class">Class Kern:</label>
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoff_class_kerning" checked>
						<label class="onoffswitch-label" for="onoff_class_kerning">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="report_classes container">
				
				<label class="label efo_source" for="kerning_values">Kerning Adjustments:</label>

				<div class='console'>
					<pre class='serialize'></pre>
				</div>
			</div>
		</form>
		<div class="display_alert alert"></div>
	</div>
	<div class="fonts" style="font-variation-settings: 'wght' 100;">
		<div class="font">
			<div class="sample" style="font-family: 'AdventProVar'; font-weight: 100;">
				<div class="calc"></div>
				<div class="kern">AdventHAVAWALYHAHHHHBHHHHCHHHHDHHHHEHHHHFHHHHGXHHHHHHHHHIHHHHJHHHHKHHHHLHHHHMHHHHNHHHHOHHHHPHHHHQHHHHRHHHHSHHHHTHHHHUHHHHVHHHHWHHHHXAHHHHYHHHHZHHnnannnnbnnnncnnnndnnnnennnnfnnnngnnnnhnnnninnnnjnnnnknnnnlnnnnmnnnnnnnnnonnnnpnnnnqnnnnrnnnnsnnnntnnnnunnnnvnnnnwnnnnxnnnnynnnnznn</div>
			</div>
		</div>
	</div>
</div>