<div class="typeface" id="advent">
	<div class="details">
		<form class="controls">
			<div class="rangeslider-container container">
				<div class="rangeslider-wrap">
					<label class="label" for="advent-wght">Weight:</label>
					<input type="range" 
						   class="range_slider" 
						   name="wght"
						   data-typeface="advent" 
						   id="advent-wght" 
						   min="100" 
						   max="700" 
						   step="0.1" 
						   labels="100, 200, 300, 400, 500, 600, 700">
				</div>
			</div>
			<div class="rangeslider-container container">
				<div class="rangeslider-wrap">
					<label class="label" for="advent-ital">Italic:</label>
					<input type="range" 
						   class="range_slider" 
						   name="ital"
						   data-typeface="advent" 
						   id="advent-ital" 
						   min="0" 
						   max="1" 
						   step="0.01" 
						   labels="0, 1">
				</div>
			</div>
			<div class="guides-container container">
				
				<label class="label" for="">Guides:</label>
				<div class="onoffswitch">
					<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
					<label class="onoffswitch-label" for="myonoffswitch">
						<span class="onoffswitch-inner"></span>
						<span class="onoffswitch-switch"></span>
					</label>
				</div>
			</div>
			<div class="efo-container container">
				<label class="label" for="">Source EFO:</label>
				<div>
					{{source_efo}}
				</div>
			</div>
		</form>
	</div>
	<div class="fonts" style="font-variation-settings: 'wght' 100;">
		<div class="font">
			<div class="sample" style="font-family: 'AdventProVar'; font-weight: 100;">
				<div class="kern">AVAWALYHAHHHHBHHHHCHHHHDHHHHEHHHHFHHHHGXHHHHHHHHHIHHHHJHHHHKHHHHLHHHHMHHHHNHHHHOHHHHPHHHHQHHHHRHHHHSHHHHTHHHHUHHHHVHHHHWHHHHXAHHHHYHHHHZHHnnannnnbnnnncnnnndnnnnennnnfnnnngnnnnhnnnninnnnjnnnnknnnnlnnnnmnnnnnnnnnonnnnpnnnnqnnnnrnnnnsnnnntnnnnunnnnvnnnnwnnnnxnnnnynnnnznn</div>
				<div class="calc"></div>
			</div>
		</div>
	</div>
</div>