<div class="typeface" id="advent">
	<div class="details">
		<form class="controls">
			<div class="efo-container container">
				<label class="label efo_source" for="efo_title" data-efo="{{source_efo_dir}}">{{source_efo}}:</label>
				
				<div class="thread-control">
					
					<div class="btn thread_active">
						Save Changes
					</div>
					<div class="btn thread_abort hide warning">
						Abort
					</div>

				</div>
			</div>
			<div class="screenshot-container container">
				<label class="label efo_source" for="efo_title">Snap Kerning:</label>
				
				<div class="screenshot-control">
					
					<div class="btn btn_icn screenshot_active">
						<span class="icn">✲</span> Snap
					</div>

				</div>
			</div>
			<div class="rangeslider-container container">
				<div class="rangeslider-wrap">
					<label class="label" for="advent-wght">Weight:</label>
					<input type="range" 
						   class="range_slider" 
						   name="wght"
						   data-typeface="advent" 
						   id="advent-wght" 
						   min="100" 
						   max="700" 
						   step="0.1" 
						   labels="100, 200, 300, 400, 500, 600, 700">
				</div>
			</div>
			<div class="rangeslider-container container">
				<div class="rangeslider-wrap">
					<label class="label" for="advent-ital">Italic:</label>
					<input type="range" 
						   class="range_slider" 
						   name="ital"
						   data-typeface="advent" 
						   id="advent-ital" 
						   min="0" 
						   max="1" 
						   step="0.01" 
						   labels="0, 1">
				</div>
			</div>
			<div class="guides-container container">
				<div class="sub_cont">
					<label class="label" for="onoffswitch" title="Show / Hide Kerning Guides">Guides:</label>
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoff_guides" checked>
						<label class="onoffswitch-label" for="onoff_guides">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
				<div class="sub_cont">
					<label class="label" for="onoffswitch" title="Kern Whole Class">Class Kern:</label>
					<div class="onoffswitch">
						<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoff_class_kerning" checked>
						<label class="onoffswitch-label" for="onoff_class_kerning">
							<span class="onoffswitch-inner"></span>
							<span class="onoffswitch-switch"></span>
						</label>
					</div>
				</div>
			</div>
			<div class="report_classes container">
				
				<label class="label efo_source" for="kerning_values">Kerning Adjustments:</label>

				<div class='console'>
					<pre class='serialize'></pre>
				</div>
			</div>
		</form>
		<div class="display_alert alert"></div>
	</div>
	<div id="capture" class="kerning_panel">
		<div class="fonts" style="font-variation-settings: 'wght' 100;">
			<div class="screenshot_info"></div>
			<div class="font">
				<div class="sample" style="font-family: 'AdventProVar'; font-weight: 100;">
					<div class="calc"></div>
					<div class="kern">AAABACADAEAFAGAHAIAJAKALAMANAOAPAQARASATAUAVAWAXAYAZBABBBCBDBEBFBGBHBIBJBKBLBMBNBOBPBQBRBSBTBUBVBWBXBYBZCACBCCCDCECFCGCHCICJCKCLCMCNCOCPCQCRCSCTCUCVCWCXCYCZDADBDCDDDEDFDGDHDIDJDKDLDMDNDODPDQDRDSDTDUDVDWDXDYDZEAEBECEDEEEFEGEHEIEJEKELEMENEOEPEQERESETEUEVEWEXEYEZFAFBFCFDFEFFFGFHFIFJFKFLFMFNFOFPFQFRFSFTFUFVFWFXFYFZGAGBGCGDGEGFGGGHGIGJGKGLGMGNGOGPGQGRGSGTGUGVGWGXGYGZHAHBHCHDHEHFHGHHHIHJHKHLHMHNHOHPHQHRHSHTHUHVHWHXHYHZIAIBICIDIEIFIGIHIIIJIKILIMINIOIPIQIRISITIUIVIWIXIYIZJAJBJCJDJEJFJGJHJIJJJKJLJMJNJOJPJQJRJSJTJUJVJWJXJYJZKAKBKCKDKEKFKGKHKIKJKKKLKMKNKOKPKQKRKSKTKUKVKWKXKYKZLALBLCLDLELFLGLHLILJLKLLLMLNLOLPLQLRLSLT</div>
				</div>
			</div>
		</div>
	</div>
	<dialog class="modal-screenshot modal hide fade" >

		<header>

			<div data-dismiss="modal" class="close btn"></div>
			<h3>Kerning Snap</h3>

		</header>
		<article class="two_button"> 

			<div class="screenshot_result"></div>
			<div data-dismiss="modal" class="cancel btn">
				Close
			</div>
			<div id="ok" class="btn" disabled="true">
				Save
			</div>

		</article>

		<footer>

			<div class="alert inline-alert hide"></div>

		</footer>

	</dialog>

</div>
<div style="display: none;">
	
CxC:C"CdCıC8CjCεCfCiC/CtCgCγChCkCμCωCpC%CrCsCuCvCyCzXAXEXBXCXXXHXFXGXIXΨXKXLXOXΩXPXSXTXbXUXYXVXZXaXeXβX~X*X@X|XcXxX:X"XdXıX8XjXεXfXiX/XtXgXγXhXkXμXωXpX%XrXsXuXvXyXzHAHEHBHCHXHHHFHGHIHΨHKHLHOHΩHPHSHTHbHUHYHVHZHaHeHβH~H*H@H|HcHxH:H"HdHıH8HjHεHfHiH/HtHgHγHhHkHμHωHpH%HrHsHuHvHyHzFAFEFBFCFXFHFFFGFIFΨFKFLFOFΩFPFSFTFbFUFYFVFZFaFeFβF~F*F@F|FcFxF:F"FdFıF8FjFεFfFiF/FtFgFγFhFkFμFωFpF%FrFsFuFvFyFzGAGEGBGCGXGHGFGGGIGΨGKGLGOGΩGPGSGTGbGUGYGVGZGaGeGβG~G*G@G|GcGxG:G"GdGıG8GjGεGfGiG/GtGgGγGhGkGμGωGpG%GrGsGuGvGyGzIAIEIBICIXIHIFIGIIIΨIKILIOIΩIPISITIbIUIYIVIZIaIeIβI~I*I@I|IcIxI:I"IdIıI8IjIεIfIiI/ItIgIγIhIkIμIωIpI%IrIsIuIvIyIzΨAΨEΨBΨCΨXΨHΨFΨGΨIΨΨΨKΨLΨOΨΩΨPΨSΨTΨbΨUΨYΨVΨZΨaΨeΨβΨ~Ψ*Ψ@Ψ|ΨcΨxΨ:Ψ"ΨdΨıΨ8ΨjΨεΨfΨiΨ/ΨtΨgΨγΨhΨkΨμΨωΨpΨ%ΨrΨsΨuΨvΨyΨzKAKEKBKCKXKHKFKGKIKΨKKKLKOKΩKPKSKTKbKUKYKVKZKaKeKβK~K*K@K|KcKxK:K"KdKıK8KjKεKfKiK/KtKgKγKhKkKμKωKpK%KrKsKuKvKyKzLALELBLCLXLHLFLGLILΨLKLLLOLΩLPLSLTLbLULYLVLZLaLeLβL~L*L@L|LcLxL:L"LdLıL8LjLεLfLiL/LtLgLγLhLkLμLωLpL%LrLsLuLvLyLzOAOEOBOCOXOHOFOGOIOΨOKOLOOOΩOPOSOTObOUOYOVOZOaOeOβO~O*O@O|OcOxO:O"OdOıO8OjOεOfOiO/OtOgOγOhOkOμOωOpO%OrOsOuOvOyOzΩAΩEΩBΩCΩXΩHΩFΩGΩIΩΨΩKΩLΩOΩΩΩPΩSΩTΩbΩUΩYΩVΩZΩaΩeΩβΩ~Ω*Ω@Ω|ΩcΩxΩ:Ω"ΩdΩıΩ8ΩjΩεΩfΩiΩ/ΩtΩgΩγΩhΩkΩμΩωΩpΩ%ΩrΩsΩuΩvΩyΩzPAPEPBPCPXPHPFPGPIPΨPKPLPOPΩPPPSPTPbPUPYPVPZPaPePβP~P*P@P|PcPxP:P"PdPıP8PjPεPfPiP/PtPgPγPhPkPμPωPpP%PrPsPuPvPyPzSASESBSCSXSHSFSGSISΨSKSLSOSΩSPSSSTSbSUSYSVSZSaSeSβS~S*S@S|ScSxS:S"SdSıS8SjSεSfSiS/StSgSγShSkSμSωSpS%SrSsSuSvSySzTATETBTCTXTHTFTGTITΨTKTLTOTΩTPTSTTTbTUTYTVTZTaTeTβT~T*T@T|TcTxT:T"TdTıT8TjTεTfTiT/TtTgTγThTkTμTωTpT%TrTsTuTvTyTzbAbEbBbCbXbHbFbGbIbΨbKbLbObΩbPbSbTbbbUbYbVbZbabebβb~b*b@b|bcbxb:b"bdbıb8bjbεbfbib/btbgbγbhbkbμbωbpb%brbsbubvbybzUAUEUBUCUXUHUFUGUIUΨUKULUOUΩUPUSUTUbUUUYUVUZUaUeUβU~U*U@U|UcUxU:U"UdUıU8UjUεUfUiU/UtUgUγUhUkUμUωUpU%UrUsUuUvUyUzYAYEYBYCYXYHYFYGYIYΨYKYLYOYΩYPYSYTYbYUYYYVYZYaYeYβY~Y*Y@Y|YcYxY:Y"YdYıY8YjYεYfYiY/YtYgYγYhYkYμYωYpY%YrYsYuYvYyYzVAVEVBVCVXVHVFVGVIVΨVKVLVOVΩVPVSVTVbVUVYVVVZVaVeVβV~V*V@V|VcVxV:V"VdVıV8VjVεVfViV/VtVgVγVhVkVμVωVpV%VrVsVuVvVyVzZAZEZBZCZXZHZFZGZIZΨZKZLZOZΩZPZSZTZbZUZYZVZZZaZeZβZ~Z*Z@Z|ZcZxZ:Z"ZdZıZ8ZjZεZfZiZ/ZtZgZγZhZkZμZωZpZ%ZrZsZuZvZyZzaAaEaBaCaXaHaFaGaIaΨaKaLaOaΩaPaSaTabaUaYaVaZaaaeaβa~a*a@a|acaxa:a"adaıa8ajaεafaia/atagaγahakaμaωapa%arasauavayazeAeEeBeCeXeHeFeGeIeΨeKeLeOeΩePeSeTebeUeYeVeZeaeeeβe~e*e@e|ecexe:e"edeıe8ejeεefeie/etegeγehekeμeωepe%ereseueveyezβAβEβBβCβXβHβFβGβIβΨβKβLβOβΩβPβSβTβbβUβYβVβZβaβeβββ~β*β@β|βcβxβ:β"βdβıβ8βjβεβfβiβ/βtβgβγβhβkβμβωβpβ%βrβsβuβvβyβz~A~E~B~C~X~H~F~G~I~Ψ~K~L~O~Ω~P~S~T~b~U~Y~V~Z~a~e~β~~~*~@~|~c~x~:~"~d~ı~8~j~ε~f~i~/~t~g~γ~h~k~μ~ω~p~%~r~s~u~v~y~z*A*E*B*C*X*H*F*G*I*Ψ*K*L*O*Ω*P*S*T*b*U*Y*V*Z*a*e*β*~***@*|*c*x*:*"*d*ı*8*j*ε*f*i*/*t*g*γ*h*k*μ*ω*p*%*r*s*u*v*y*z@A@E@B@C@X@H@F@G@I@Ψ@K@L@O@Ω@P@S@T@b@U@Y@V@Z@a@e@β@~@*@@@|@c@x@:@"@d@ı@8@j@ε@f@i@/@t@g@γ@h@k@μ@ω@p@%@r@s@u@v@y@z|A|E|B|C|X|H|F|G|I|Ψ|K|L|O|Ω|P|S|T|b|U|Y|V|Z|a|e|β|~|*|@|||c|x|:|"|d|ı|8|j|ε|f|i|/|t|g|γ|h|k|μ|ω|p|%|r|s|u|v|y|zcAcEcBcCcXcHcFcGcIcΨcKcLcOcΩcPcScTcbcUcYcVcZcacecβc~c*c@c|cccxc:c"cdcıc8cjcεcfcic/ctcgcγchckcμcωcpc%crcscucvcyczxAxExBxCxXxHxFxGxIxΨxKxLxOxΩxPxSxTxbxUxYxVxZxaxexβx~x*x@x|xcxxx:x"xdxıx8xjxεxfxix/xtxgxγxhxkxμxωxpx%xrxsxuxvxyxz:A:E:B:C:X:H:F:G:I:Ψ:K:L:O:Ω:P:S:T:b:U:Y:V:Z:a:e:β:~:*:@:|:c:x:::":d:ı:8:j:ε:f:i:/:t:g:γ:h:k:μ:ω:p:%:r:s:u:v:y:z"A"E"B"C"X"H"F"G"I"Ψ"K"L"O"Ω"P"S"T"b"U"Y"V"Z"a"e"β"~"*"@"|"c"x":"""d"ı"8"j"ε"f"i"/"t"g"γ"h"k"μ"ω"p"%"r"s"u"v"y"zdAdEdBdCdXdHdFdGdIdΨdKdLdOdΩdPdSdTdbdUdYdVdZdadedβd~d*d@d|dcdxd:d"dddıd8djdεdfdid/dtdgdγdhdkdμdωdpd%drdsdudvdydzıAıEıBıCıXıHıFıGıIıΨıKıLıOıΩıPıSıTıbıUıYıVıZıaıeıβı~ı*ı@ı|ıcıxı:ı"ıdııı8ıjıεıfıiı/ıtıgıγıhıkıμıωıpı%ırısıuıvıyız8A8E8B8C8X8H8F8G8I8Ψ8K8L8O8Ω8P8S8T8b8U8Y8V8Z8a8e8β8~8*8@8|8c8x8:8"8d8ı888j8ε8f8i8/8t8g8γ8h8k8μ8ω8p8%8r8s8u8v8y8zjAjEjBjCjXjHjFjGjIjΨjKjLjOjΩjPjSjTjbjUjYjVjZjajejβj~j*j@j|jcjxj:j"jdjıj8jjjεjfjij/jtjgjγjhjkjμjωjpj%jrjsjujvjyjzεAεEεBεCεXεHεFεGεIεΨεKεLεOεΩεPεSεTεbεUεYεVεZεaεeεβε~ε*ε@ε|εcεxε:ε"εdεıε8εjεεεfεiε/εtεgεγεhεkεμεωεpε%εrεsεuεvεyεzfAfEfBfCfXfHfFfGfIfΨfKfLfOfΩfPfSfTfbfUfYfVfZfafefβf~f*f@f|fcfxf:f"fdfıf8fjfεfffif/ftfgfγfhfkfμfωfpf%frfsfufvfyfziAiEiBiCiXiHiFiGiIiΨiKiLiOiΩiPiSiTibiUiYiViZiaieiβi~i*i@i|icixi:i"idiıi8ijiεifiii/itigiγihikiμiωipi%irisiuiviyiz/A/E/B/C/X/H/F/G/I/Ψ/K/L/O/Ω/P/S/T/b/U/Y/V/Z/a/e/β/~/*/@/|/c/x/:/"/d/ı/8/j/ε/f/i///t/g/γ/h/k/μ/ω/p/%/r/s/u/v/y/ztAtEtBtCtXtHtFtGtItΨtKtLtOtΩtPtStTtbtUtYtVtZtatetβt~t*t@t|tctxt:t"tdtıt8tjtεtftit/tttgtγthtktμtωtpt%trtstutvtytzgAgEgBgCgXgHgFgGgIgΨgKgLgOgΩgPgSgTgbgUgYgVgZgagegβg~g*g@g|gcgxg:g"gdgıg8gjgεgfgig/gtgggγghgkgμgωgpg%grgsgugvgygzγAγEγBγCγXγHγFγGγIγΨγKγLγOγΩγPγSγTγbγUγYγVγZγaγeγβγ~γ*γ@γ|γcγxγ:γ"γdγıγ8γjγεγfγiγ/γtγgγγγhγkγμγωγpγ%γrγsγuγvγyγzhAhEhBhChXhHhFhGhIhΨhKhLhOhΩhPhShThbhUhYhVhZhahehβh~h*h@h|hchxh:h"hdhıh8hjhεhfhih/hthghγhhhkhμhωhph%hrhshuhvhyhzkAkEkBkCkXkHkFkGkIkΨkKkLkOkΩkPkSkTkbkUkYkVkZkakekβk~k*k@k|kckxk:k"kdkık8kjkεkfkik/ktkgkγkhkkkμkωkpk%krkskukvkykzμAμEμBμCμXμHμFμGμIμΨμKμLμOμΩμPμSμTμbμUμYμVμZμaμeμβμ~μ*μ@μ|μcμxμ:μ"μdμıμ8μjμεμfμiμ/μtμgμγμhμkμμμωμpμ%μrμsμuμvμyμzωAωEωBωCωXωHωFωGωIωΨωKωLωOωΩωPωSωTωbωUωYωVωZωaωeωβω~ω*ω@ω|ωcωxω:ω"ωdωıω8ωjωεωfωiω/ωtωgωγωhωkωμωωωpω%ωrωsωuωvωyωzpApEpBpCpXpHpFpGpIpΨpKpLpOpΩpPpSpTpbpUpYpVpZpapepβp~p*p@p|pcpxp:p"pdpıp8pjpεpfpip/ptpgpγphpkpμpωppp%prpspupvpypz%A%E%B%C%X%H%F%G%I%Ψ%K%L%O%Ω%P%S%T%b%U%Y%V%Z%a%e%β%~%*%@%|%c%x%:%"%d%ı%8%j%ε%f%i%/%t%g%γ%h%k%μ%ω%p%%%r%s%u%v%y%zrArErBrCrXrHrFrGrIrΨrKrLrOrΩrPrSrTrbrUrYrVrZrarerβr~r*r@r|rcrxr:r"rdrır8rjrεrfrir/rtrgrγrhrkrμrωrpr%rrrsrurvryrzsAsEsBsCsXsHsFsGsIsΨsKsLsOsΩsPsSsTsbsUsYsVsZsasesβs~s*s@s|scsxs:s"sdsıs8sjsεsfsis/stsgsγshsksμsωsps%srsssusvsyszuAuEuBuCuXuHuFuGuIuΨuKuLuOuΩuPuSuTubuUuYuVuZuaueuβu~u*u@u|ucuxu:u"uduıu8ujuεufuiu/utuguγuhukuμuωupu%urusuuuvuyuzvAvEvBvCvXvHvFvGvIvΨvKvLvOvΩvPvSvTvbvUvYvVvZvavevβv~v*v@v|vcvxv:v"vdvıv8vjvεvfviv/vtvgvγvhvkvμvωvpv%vrvsvuvvvyvzyAyEyByCyXyHyFyGyIyΨyKyLyOyΩyPySyTybyUyYyVyZyayeyβy~y*y@y|ycyxy:y"ydyıy8yjyεyfyiy/ytygyγyhykyμyωypy%yrysyuyvyyyzzAzEzBzCzXzHzFzGzIzΨzKzLzOzΩzPzSzTzbzUzYzVzZzazezβz~z*z@z|zczxz:z"zdzız8zjzεzfziz/ztzgzγzhzkzμzωzpz%zrzszuzvzyzz

	 
</div>